<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title> Articles </title>
</head>
<body>
    <div id="container">


        {% if "username" not in session %}
        <div id="login-field">
            <form method="POST" action="/login_check">
            <input type="text" placeholder="ID" name="id" id="id">
            <input type="password" placeholder="password" name="pw" id="pw">
            <input type="submit" value="Login" name="login-btn" id="login-btn">
            <a href="register"><input type="button" value="Register" name="register-btn" id="register-btn"></a>
            </form>
        </div>
        {% endif %}
        <div id="login-success">
            <p id="login-message" style="display:inline-block"> {% if "username" in session %}  {{session["username"]}}  {% else %}Welcome, {% endif %}</p>
            <input type="button" value="logout" name="logout-btn" id="logout-btn">
        </div>
        <div class="article-list">

        </div>
    </div>

</body>
<script>


    {% if "username" not in session %}
    $('#login-success').hide()
    {% endif %}

        $("#logout-btn").on("click", function(e){
        let id = $("#id").val();

            $.ajax({
                url : "/logout",
                method : "get",
                data : {
                    "login_id" : id,
                }
            }).done(function(result){
                if(result == 'success') {
                    location.href = '/articles';
                }
            });
        });

        $.ajax({
            url : '/getArticleTitles',
            method : 'GET'
        }).done(function(result){
            console.log(result[1]['article_id']);
            var html = "";
            for(let i=0;i<result.length;i++){
                html += "<a href='/content?author="+result[i]['author']+"&article_id="+result[i]['article_id']+"'>";
                html += "<div>";
                html += "    <span>" + result[i]['article_id'] + ".</span>";
                html += "    <span>" + result[i]['title'] + "</span>";
                html += "</div>";
                html += "</a>";
            }
            $(".article-list").html(html);

        });

</script>
</html>